@using BlazorBootstrap
@using CSharpFunctionalExtensions
@using My1kWordsEe.Models
@using My1kWordsEe.Models.Grammar.Forms
@using My1kWordsEe.Models.Semantics
@using My1kWordsEe.Models.Grammar
@using My1kWordsEe.Services.Cqs.Et

@inject GetOrAddEtFormsCommand GetOrAddEtFormsCommand;
@inject PreloadService PreloadService
@inject ToastService ToastService

@code {
    [Parameter]
    public required EtWord EtWord { get; init; }
    [Parameter]
    public required int SenseIndex { get; init; }

    private Maybe<Result<NounForms>> NounForms;

    protected override async Task OnParametersSetAsync()
    {
        if (EtWord.Senses[SenseIndex].IsNoun)
        {
            NounForms = await this.GetOrAddEtFormsCommand.Invoke<NounForms>(EtWord, (uint)SenseIndex);
        }
    }

    private IEnumerable<NounForm> SingularForms =>
        NounForms.HasValue && NounForms.Value.IsSuccess
            ? NounForms.Value.Value.Singular
            : Enumerable.Empty<NounForm>();

    private IEnumerable<NounForm> PluralForms =>
    NounForms.HasValue && NounForms.Value.IsSuccess
        ? NounForms.Value.Value.Plural
        : Enumerable.Empty<NounForm>();

    private string Error => NounForms.HasValue && NounForms.Value.IsFailure
        ? NounForms.Value.Error
        : string.Empty;
}

<div class="row">
    <div class="col-auto">
        <div class="row text-center"><h4>Singular</h4></div>
        <NounsGrid NounForms="@SingularForms" EtWord="EtWord" />
    </div>

    <div class="col-auto">
        <div class="row text-center"><h4>Plural</h4></div>
        <NounsGrid NounForms="@PluralForms" IsPlural="true" EtWord="EtWord" />
    </div>

    @if(!string.IsNullOrWhiteSpace(Error))
    {
        <div class="col-12">
            <h3 class="alert-warning">@Error</h3>
        </div>
    }
</div>