@page "/exercises"

@using BlazorBootstrap
@using Microsoft.ApplicationInsights

@inject TelemetryClient telemetry

@code {

    protected override async Task OnParametersSetAsync()
    {
        telemetry.TrackEvent($"PageView:{nameof(Exercises)}");
        await base.OnParametersSetAsync();
    }

    private static readonly GameReference[] Games = new GameReference[]
    {
new GameReference
{
Title = "Translate to English 🇬🇧",
Url = $"/translate-game/en",
Logo = "bi bi-translate",
ImgUrl = "img/to-en.png"

},
new GameReference
{
Title = "Translate to Estonian 🇪🇪",
Url = $"/translate-game/et",
Logo = "bi bi-translate",
ImgUrl = "img/to-et.png"
},
new GameReference
{
Title = "Listen to Estonian 🇪🇪",
Url = $"/listen-game/et",
Logo = "bi bi-ear-fill",
ImgUrl = "img/listen-et.png"
},
new GameReference
{
Title = "Match Words",
Url = $"/word-2-word-match-game/en",
Logo = "bi bi-dice-6-fill",
ImgUrl = "img/match.png"
},
new GameReference
{
Title = "Noun 3 Forms 🇪🇪",
Url = $"/forms-game/et",
Logo = "bi bi-input-cursor-text",
ImgUrl = "img/to-et.png"
}
    };

    private class GameReference
    {
        public required string Title { get; set; }
        public required string Url { get; set; }
        public required string Logo { get; set; }
        public required string ImgUrl { get; set; }
    }
}

<div class="text-left row">
    <h3>Exercises / Ülesandeid</h3>
</div>

<div class="text-center row">
    @foreach (var game in Games)
    {
        <div class="col-6 p-1">
            <a href="@(game.Url)" target="_blank" style="text-decoration: none;">
                <Card role="button">
                    <CardBody>
                        <CardTitle Class="row">
                            <div class="col-12">@game.Title</div>
                        </CardTitle>
                        <CardText>

                            <img src="@game.ImgUrl" height="64" />
                        </CardText>
                    </CardBody>
                </Card>
            </a>
        </div>
    }
</div>