@page "/favorites"
@rendermode InteractiveServer

@using BlazorBootstrap
@using CSharpFunctionalExtensions
@using My1kWordsEe.Models;
@using My1kWordsEe.Components.Layout;
@using My1kWordsEe.Services.Cqs

@inject NavigationManager NavigationManager

@code {
   
}

<PageTitle>Favorites | Lemmikud</PageTitle>

<h1>Favorites | Lemmikud</h1>

<div class="text-center">
    <div class="row">
        
    </div>
</div>