@page "/"
@rendermode InteractiveServer

@using My1kWordsEe.Services;
@using My1kWordsEe.Models;
@inject OpenAiService OpenAiService


@code {
    public Ee1kWords Ee1KWords { get; private set; } = new Ee1kWords();

    private void SelectWord(MouseEventArgs e, string word)
    {
        Ee1KWords = Ee1KWords.WithSelectedWord(word);
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        var searchTerm = e.Value?.ToString() ?? string.Empty;
        Ee1KWords = Ee1KWords.WithSearch(searchTerm);
    }
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="text-center">
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
            </div>
            <input type="text" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-default"
                   @oninput="OnSearchInput" />
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            @foreach (var word in Ee1KWords.SelectedWords)
            {
                <div class="row">
                    <div class="col">
                        <li class="list-group-item
                            @(word == Ee1KWords.SelectedWord ? "active" : null)"
                            @onclick="@(e => SelectWord(e, word))">@word</li>
                    </div>
                    <div class="col">
                    </div>
                </div>
            }
        </ul>
    </div>
</div>