@page "/word/{eeWord}"
@rendermode InteractiveServer

@using CSharpFunctionalExtensions
@using My1kWordsEe.Services;
@using My1kWordsEe.Models;
@using My1kWordsEe.Components.Layout;
@using My1kWordsEe.Services.Cqs;

@inject IJSRuntime JS
@inject EnsureWordCommand EnsureWordCommand

@code {
    [Parameter]
    public string EeWord { get; set; }

    private Result<SampleWord>? WordMetadata;

    protected override async Task OnInitializedAsync()
    {
        WordMetadata = await EnsureWordCommand.Invoke(EeWord);
    }
}

<div class="text-left">
    <div class="row">
        <h1>@EeWord
           @*  <button type="button" class="btn btn-primary">
                <i class="bi bi-volume-down-fill"></i>
            </button> *@
        </h1>

        @if (WordMetadata.HasValue)
        {
            if (WordMetadata.Value.IsSuccess)
            {
                <h3>@WordMetadata.Value.Value.EnWord</h3>
                <h3>@WordMetadata.Value.Value.EnExplanation</h3>
            }
        }
        else
        {
            @* <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div> *@
        }
    </div>
    @* <div class="row">
        <Sample EeWord="@EeWord">
        </Sample>
    </div> *@
</div>