@page "/"
@rendermode InteractiveServer

@using My1kWordsEe.Services;
@using My1kWordsEe.Models;
@using My1kWordsEe.Components.Layout;

@inject NavigationManager NavigationManager
@inject OpenAiService OpenAiService

@code {
    public Ee1kWords Ee1KWords { get; private set; } = new Ee1kWords();

    private void SelectWord(MouseEventArgs e, string word)
    {
        //Ee1KWords = Ee1KWords.WithSelectedWord(word);
        NavigationManager.NavigateTo($"/word/{word}");
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        var searchTerm = e.Value?.ToString() ?? string.Empty;
        Ee1KWords = Ee1KWords.WithSearch(searchTerm);
    }
}

<PageTitle>1k Words</PageTitle>

<div class="text-center">
    <div class="row sticky-top">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
            </div>
            <input type="text" class="form-control " aria-label="Search" aria-describedby="inputGroup-sizing-default"
                @oninput="OnSearchInput" />
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            @foreach (var word in Ee1KWords.SelectedWords)
            {
                <div class="row">
                    <div class="col">
                        @if (word == Ee1KWords.SelectedWord)
                        {
                            <li class="list-group-item active">@word</li>
                        }
                        else
                        {
                            <li class="list-group-item"
                                @onclick="@(e => SelectWord(e, word))"
                                role="button">@word</li>
                        }
                    </div>
                    <div class="col">
                        @if (word == Ee1KWords.SelectedWord)
                        {
                            <Sample EeWord="@word">
                            </Sample>
                        }
                    </div>
                </div>
            }
        </ul>
    </div>
</div>