<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
	<DataCollectors>
	  <DataCollector friendlyName="XPlat Code Coverage">
		<Configuration>
		  <Format>cobertura</Format>
		  <Include>[My1kWordsEe*]*</Include>
		  <Exclude>[*.Tests.*]*,[xunit.*]*,[nunit.*]*,[Moq]*</Exclude>
		  <ExcludeByFile>**/*.g.cs,**/*.g.i.cs,**/Migrations/*.cs</ExcludeByFile>
		  <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
		  <SingleHit>false</SingleHit>
		  <UseSourceLink>true</UseSourceLink>
		  <IncludeTestAssembly>false</IncludeTestAssembly>
		  <DeterministicReport>true</DeterministicReport>
		  <SkipAutoProps>true</SkipAutoProps>
		</Configuration>
	  </DataCollector>
	</DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
