@model Sentence

<div>
    <div class="row">

        <ul class="list-group">
            <li class="list-group-item">
                @Model.Ee
            </li>
            <li class="list-group-item">
                @Model.En
            </li>
        </ul>

    </div>
</div>

