@page "/Animals"

@inject HttpClient Http
@inject IConfiguration Config
@inject NavigationManager NavigationManager


@code {
    private Animal[] animals;

    protected override async Task OnInitializedAsync()
    {
        animals = await Http.GetFromJsonAsync<Animal[]>($"{NavigationManager.BaseUri}/data/animals.json");
    }

    public class Animal
    {
        public string en { get; set; }
        public string et { get; set; }
        public string imgUrl { get; set; }
    }
}

<script>
    function playSound() {
        new Audio("src").play()
    }
</script>

<div class="row">
    @if (animals == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var animal in animals)
        {
            <div class="col-sm-6">
                <div class="card bg-dark text-white mt-1" style="max-height: 17rem; max-width: 17rem">
                    <img class="card-img img-fluid" src="@animal.imgUrl" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">@animal.et</h5>

                    </div>
                </div>
                <audio controls class="">
                    <source src="/data/audio/@(animal.et).wav">
                </audio>
            </div>
        }
    }
</div>
