@using blazor_app.Core;

@inject IJSRuntime JsRuntime

@code {
    string GetAudioUrl()
    {
        return $"https://github.com/NicklausBrain/ai-flashcards/raw/main/data/eesti/audio/{Data.Et}.wav";
    }

    private async Task ImageClicked()
    {
        await JsRuntime.InvokeVoidAsync("playSound", GetAudioUrl());
    }
}

<div class="col-sm-6" @onclick=ImageClicked>
    <div class="card bg-dark text-white mt-1" style="max-height: 17rem; max-width: 17rem">
        <img class="card-img img-fluid" src="@Data.ImgUrl" alt="@Data.Et">
        <div class="card-img-overlay">
            <h5 class="card-title">@Data.Et</h5>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Core.FlashCard Data { get; set; }
}