@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-sm-6">
        <NavLink class="nav-link" href="animals">
            <div class="card bg-dark text-white mt-1 flashcard">
                <img class="card-img img-fluid"
                    src="https://tse4.mm.bing.net/th?id=OIP.eEVDp2Q9GipKs0JMf6y4SwHaFj&pid=Api" alt="Animals">
                <div class="card-img-overlay">
                    <h5 class="card-title">Animals</h5>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col-sm-6">
        <NavLink class="nav-link" href="food">
            <div class="card bg-dark text-white mt-1 flashcard">
                <img class="card-img img-fluid"
                    src="https://tse2.mm.bing.net/th?id=OIP.-IZsJmPvuvnM0036IAw_FgHaEi&pid=Api" alt="Food">
                <div class="card-img-overlay">
                    <h5 class="card-title">Food</h5>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col-sm-6">
        <NavLink class="nav-link" href="transport">
            <div class="card bg-dark text-white mt-1 flashcard">
                <img class="card-img img-fluid"
                    src="https://tse4.mm.bing.net/th?id=OIP.4HYqKA9qHP9VHJcPVVXF8QAAAA&pid=Api" alt="Transport">
                <div class="card-img-overlay">
                    <h5 class="card-title">Transport</h5>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col-sm-6">
        <NavLink class="nav-link" href="humanActivity">
            <div class="card bg-dark text-white mt-1 flashcard">
                <img class="card-img img-fluid"
                    src="https://tse2.mm.bing.net/th?id=OIP.-kdVZabjWBk4Z-4-NGlIqwHaE8&pid=Api" alt="Human activity">
                <div class="card-img-overlay">
                    <h5 class="card-title">Human activity</h5>
                </div>
            </div>
        </NavLink>
    </div>
</div>
