@using My1kWordsEe.Services;
@inject OpenAiService OpenAiService

@model Ee1kWords;


@{
    ViewData["Title"] = "Words";
}

<div class="text-center">
    <div class="row">Search to be there</div>

    <br>
    <ul class="list-group">
        @foreach(var word in Model.SelectedWords)
        {
            <div class="row">
                <div class="col">
                    <a href="@Url.Action("Index", "Words", new {selectedWord = word})">
                        <li class="list-group-item @(word == Model.SelectedWord ? "active" : null)">@word</li>
                    </a>
                </div>
                <div class="col">
                    @if(word == Model.SelectedWord)
                    {
                        var sample = await this.OpenAiService.GetSampleSentence(word);
                        if(sample.Sentence != null)
                        {
                            await Html.RenderPartialAsync("_Sample", sample.Sentence);
                        }
                        else
                        {
                            <text>@sample.Error</text>
                        }
                    }
                </div>
            </div>
        }
    </ul>
</div>
