@using Microsoft.AspNetCore.Components.Authorization

@implements IDisposable

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img height="36px" src="ee1k.png">
            My1kWordsEe
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="d-flex justify-content-center my-2">
    <button class="btn btn-outline-secondary btn-sm" onclick="toggleTheme()" title="Toggle theme">
        <i id="theme-icon" class="bi bi-sun-fill"></i>
    </button>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-table" aria-hidden="true"></span> Top Words
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/exercises" Match="NavLinkMatch.All">
                <span class="bi bi-translate" aria-hidden="true"></span> Exercises
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/favorites" Match="NavLinkMatch.All">
                <span class="bi bi-star-fill" aria-hidden="true"></span> Favorites
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link align-text-bottom" href="https://github.com/NicklausBrain/ai-flashcards"
                Match="NavLinkMatch.All">
                <span class="bi bi-github" aria-hidden="true"></span> Source
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}