@code {
    [Parameter]
    public string Ee { get; set; }
    [Parameter]
    public string En { get; set; }

}

<div>
    <div class="row">

        <ul class="list-group">
            <li class="list-group-item">
                @Ee
            </li>
            <li class="list-group-item">
                @En
            </li>
        </ul>

    </div>
</div>
