name: Unit Tests - my-1k-ee

defaults:
  run:
    working-directory: ./My1kWordsEe.Tests.Unit

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x
      - name: Build & Install
        run: dotnet build
      - name: Run unit tests
        run: dotnet test
